---
import ThemeSelect from '@components/ThemeSelect.astro'
---

<header class='flex justify-between items-center p-2 border-b border-gray-200 dark:border-gray-800'>
  <h1 class='text-2xl font-bold'>Poke Astro</h1>
  <nav>
    <ul class='flex gap-2 items-center'>
      <li>
        <a href='/'>Inicio</a>
      </li>
      <li>
        <a href='/pokemons'>Pokemones</a>
      </li>
      <ThemeSelect />
    </ul>
  </nav>
</header>
