---
import ThemeSelect from '@components/ThemeSelect.astro'
---

<header>
  <h1>Poke Astro</h1>
  <nav>
    <ul>
      <li>
        <a href='/'>Home</a>
      </li>
      <li>
        <a href='/about'>About</a>
      </li>
    </ul>
  </nav>
  <ThemeSelect />
</header>
